// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pin-image-box {
  background: #000;
}

#pins {
  width: 100%;
  margin: 0 -5px;
}

.box {
  padding: 0 !important;
  margin: 0;

  .panel {
    margin: 0;
  }

  .box-inner {
    padding: 5px !important;
  }
}

.box img {
  width: 100%;
}

.panel-footer {
  .pagination {
    margin: 0;
  }
}
